<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Students</title>
  </head>
  <body>
    <h2>Students</h2>
    <div class="students-container">
      <div class="center-align">
        <% for(let i of students ){ %>
        <img src="<%=i.profile%>" alt="profile picture" />
        <p><%=i.name%></p>
        <% } %>
      </div>
    </div>
  </body>
</html>
